<div class="container">
<h1>ユーザー一覧</h1>

<table class="table table-bordered border">
  <thead>
    <tr>
      <th>投稿日時</th>
      <th>ユーザー名</th>
      <th>コメント</th>
      <th>退会ステータス</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.created_at, admin_user_path(user.id) %></td>
        <td><%#= user.name %></td>
        <td> <%# user.user_details.each do |user_detail| %>
            <%# @quantity += user_detail.quantity %>
          <%# end %>
          <%#= @quantity %>
        </td>
        <td><%#= user.status_i18n %></td>
      </tr>
    <%# end %>
  </tbody>

</table>
<%#= paginate @users %>
</div>