<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
  		<h1>コメント編集</h1>
  		<%= render 'layouts/errors', obj: @camp %>
  		<%= render 'form', camp: @camp %>
  		<%= link_to 'Show', @camp %> |
  		<%= link_to 'Back', camps_path, class: "back" %>
  </div>
</div>