/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* application.scss */

/* Bootstrapのインポート（必要に応じてバージョンを変更） */
@import "bootstrap";

/* カスタムスタイル */
body {
  background-color: #f7f7f7;
  font-family: 'Zen Kaku Gothic New', sans-serif;
}

main {
  text-align: center;
  padding: 60px 0;
}

h1 {
  font-size: 36px;
  color: #333;
}

.h5 {
  font-size: 18px;
  color: #666;
}

.btn-wrapper {
  margin-top: 20px;
}

.btn {
  font-size: 16px;
  padding: 10px 20px;
}

.notice {
  text-align: center;
  font-size: 16px;
  color: #d9534f; /* Bootstrapの赤色 */
}