<footer>
  <nav class="nav navbar-nav navbar-expand-lg navbar-brand bg-light border-top">
    <div class="container-fluid">
        <div class="collapse navbar-collapse">
        </div>
    </div>
  </nav>
</footer>