<footer>
  <nav class="nav navbar-nav navbar-expand-lg navbar-brand bg-light border-top">
    <div class="container-fluid">
      <div class="collapse navbar-collapse justify-content-center">
        © Copyright solo-camp-girls
      </div>
    </div>
  </nav>
</footer>